.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  position: relative;
}

.newTaskForm {
  position: absolute;
  height: 3.375rem;
  bottom: calc(-3.375rem / 2);
  width: 100%;
  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.newTaskForm input {
  height: 100%;
  flex: 1;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 0 1rem;
  font-size: 1rem;
}

.newTaskForm input::placeholder {
  color: var(--gray-300);
}

.newTaskForm button {
  height: 100%;
  padding: 0 1rem;
  background: var(--blue-700);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-weight: bold;
  cursor: pointer;
}